header {
padding: 15px 20px;
background: #f5f5f5;
display: block;
}

ul .navigation li{
  list-style: none;
  text-align: right;
  margin: 0 auto; }

  ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
  }
