header {
padding: 15px 20px;
background: #f5f5f5;
display: block;

  nav li{
    list-style: none;
    text-align: right;
    margin: 0 auto;
    display: inline;
    float: right;

   }


  nav h1{
    float: left;
  }
}
